body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-area {
    display: flex;
    margin-bottom: 20px;
}

#task-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#date-input, #priority-input {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#add-button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.filter-area {
    text-align: right;
    margin-bottom: 10px;
}

#filter-button {
    padding: 8px 12px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s;
}

#task-list li.dragging {
    opacity: 0.5;
    background: #cce5ff;
    transform: scale(1.02);
}


#task-list li:last-child {
    border-bottom: none;
}

.task-content {
    cursor: pointer;
    flex-grow: 1;
    display: flex; /* 子要素を横並びにする */
    align-items: center; /* 中央揃え */
    flex-wrap: wrap; /* 折り返し */
}

.task-content.completed .task-text {
    text-decoration: line-through;
    color: #888;
}

.task-text {
    margin-right: 10px;
}

.task-date {
    font-size: 0.9em;
    color: #666;
    margin-right: 10px;
}

.priority-span {
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #eee;
    margin-right: 10px;
}

.button-group button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-button {
    background-color: #ffc107;
    font-size: 1em; /* 絵文字のサイズ調整 */
}

.delete-button {
    background-color: #dc3545;
    color: white;
    font-size: 1em; /* 絵文字のサイズ調整 */
}

/* 優先度に応じた色分け */
.priority-high {
    border-left: 5px solid #dc3545; /* 赤 */
}
.priority-medium {
    border-left: 5px solid #ffc107; /* 黄 */
}
.priority-low {
    border-left: 5px solid #28a745; /* 緑 */
}

/* 完了済みタスクを非表示にする */
.hide-completed .completed {
    display: none;
}

.edit-input, .date-edit-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px; /* 他要素との間隔 */
}